/**
 * Reboot styles for consistency between admin and front
 */
.imageslideshow .slide-content {
  all: revert;
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.4;
  color: #000;
  //font-size: 16px;
  --scale: 1;
  //aspect-ratio: 16 / 9;
  font-size: calc(var(--scale) * 16px);

  position: absolute;
  inset: 0;

  *, *::before, *::after {
    box-sizing: border-box;
  }


  p {
    margin: 0;
    line-height: 1;
    font-size: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul, ol {
    margin: 0;
    padding-left: 1.25em;
  }

  li {
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .txtxs, .txtsm, .txtb, .txtmd, .txtlg, .txtxl, .txt2xl {
    font-size: calc(var(--user-font-size) * 1em);
  }

  .txtxs {
    --user-font-size: .6;
  }
  .txtsm {
    --user-font-size: .9;
  }
  .txtb {
    --user-font-size: 1;
  }
  .txtmd {
    --user-font-size: 1.5;
  }
  .txtlg {
    --user-font-size: 2;
  }
  .txtxl {
    --user-font-size: 4;
  }
  .txt2xl {
    --user-font-size: 8;
  }
}
